<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Scripts.Trainer.ExtentReporterNG"/>
    </listeners>
    <test thread-count="5" name="Regression">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Scripts.TestHomePage"/>
            <class name="Scripts.TestContactUs"/>
            <class name="Scripts.Trainer.TestTrainerLogin"/>
            <class name="Scripts.Trainer.TestTrainerDeleteMyPost"/>
            <class name="Scripts.Trainer.TestTrainerNewPost"/>
            <class name="Scripts.Trainer.TestTrainerSortPostByCategory"/>
            <class name="Scripts.Trainer.TestTrainerDeleteMyPost"/>
            <class name="Scripts.Trainer.TestTrainerEditMyPost"/>
            <class name="Scripts.Trainer.TestTrainerEditPostInAdmin"/>
            <class name="Scripts.Trainer.TestTrainerDeletePostInAdmin"/>
            <class name="Scripts.Trainer.TestTrainerSignup"/>
        </classes>
    </test>
</suite>

